.simple-graph {
    .contour {
        stroke-width: 0.2px;
        stroke: rgba(0, 0, 0, 0.308);
    }

    .main-fit {
        stroke-width: 2px;
        stroke: rgb(12, 230, 211);
    }

    .not-fit {
        stroke-width: 1px;
        stroke: black;
    }

    .descending-point {
        fill: rgb(253, 0, 253);
    }

    .descending-line {
        stroke-width: 1px;
        stroke:rgb(253, 0, 253);
    }
}