@import "./colors.scss";

.simple-graph {
    .contour {
        stroke-width: 0.1px;
        stroke: rgba(0, 0, 0, 0.171);
    }

    .not-fit {
        stroke-width: 1px;
        stroke: black;
    }

    .descending-point {
        fill: rgb(255, 0, 200);
    }

    .descending-line {
        stroke-width: 1px;
        stroke: rgb(255, 0, 200);
    }

}

.main-fit {
    stroke-width: 2px;
    stroke: $col7;
    fill: none;
}
