.grass {
  opacity: 0.2;
  fill: green;
}

.golf-ball {
  opacity: 1;
}

.golf-ball-sgd {
  fill: lightsteelblue;
  stroke: lightsteelblue;
}

.golf-ball-sngd {
  fill: gray;
  stroke: gray;
}

.golf-ball-ngd {
  fill: darkslategray;
  stroke: darkslategray;
}

.golf-hole-chart {
  .line {
    stroke-width: 3px;
    stroke: orange;
    fill: none;
  }
}

.golf-losses {
  .line {
    stroke-width: 2px;
    fill: none;
  }
}

.dead-ball {
  outline: red 1px solid;
}
