.grass {
  opacity: 0.2;
  fill: green;
}

.golf-ball {
  opacity: 1;
}

.golf-ball-sgd {
  fill: lightsteelblue;
  stroke: lightsteelblue;
}

.golf-ball-sngd {
  fill: gray;
  stroke: gray;
}

.golf-ball-ngd {
  fill: darkslategray;
  stroke: darkslategray;
}

.golf-hole-chart {
  .line {
    stroke-width: 3px;
    stroke: orange;
    fill: none;
  }
}

.line-plot {
  .line {
    stroke-width: 1.5px;
    fill: none;
  }
}

.golf-xdist {
  .line {
    stroke-width: 1.5px;
    fill: none;
  }
}

.axis {
  .domain {
    stroke-width: 2.5px
  }
}

#vis3 {
  .golf-hole-chart {
    .golf-ball {
      fill: white;
    }
  }
}

.dead-ball {
  outline: red 1px solid;
}
