.simple-graph {
    .contour {
        stroke-width: 0.5px;
        stroke: black;
    }

    .main-fit {
        stroke-width: 5px;
        stroke: red;
    }

    .not-fit {
        stroke-width: 2px;
        stroke: blue;
    }
}